.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40dvh;
}

.register-title{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.register-title mat-icon {
  align-self: center;
  font-size: 1.5em;
}

.button-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a{
  text-decoration: none;
  margin-left: 0.2em;
  }

span{
  align-items: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
