.quizForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 0.3rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-area{
  margin-top: 2em;
}
