<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (quiz of quizzes | async; track quiz) {
      <mat-grid-tile [colspan]="quiz.cols" [rowspan]="quiz.rows">
        <mat-card class="dashboard-card" appearance="raised">
          <mat-card-header>
            <mat-card-title>
              {{quiz.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/admin/view-quiz/{{quiz.id}}">Expand</button>
                <button mat-menu-item>Remove</button>
                <button mat-menu-item routerLink="/admin/add-questions/{{quiz.id}}">Add Question </button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle>{{quiz.time}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
                {{quiz.description}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
